Kappa.pdf
Kappa.toc
Kappa.log
Kappa.aux
Kappach2only.pdf
Kappach2only.toc
Kappach2only.log
Kappach2only.aux
Kappach2only.bbl
Kappach2only.idx
Kappach2only.ilg
Kappach2only.ind
KappaChapterOnly.pdf
KappaChapterOnly.toc
KappaChapterOnly.log
KappaChapterOnly.aux
KappaChapterOnly.bbl
KappaChapterOnly.idx
KappaChapterOnly.ilg
KappaChapterOnly.ind
Kappawithpapers.pdf
Kappawithpapers.toc
Kappawithpapers.log
Kappawithpapers.aux
Kappawithpapers.bbl
Kappawithpapers.idx
Kappawithpapers.ilg
Kappawithpapers.ind
chapter_*.pdf
chapter_*.toc
chapter_*.log
chapter_*.aux
chapter_*.bbl
chapter_*.idx
chapter_*.ilg
chapter_*.ind
chapter_*.tex
chapter_*.blg
Chapter*.pdf
Chapter*.toc
Chapter*.log
Chapter*.aux
Chapter*.bbl
Chapter*.idx
Chapter*.ilg
Chapter*.ind
*.gz
*.xml
./*.pdf
*.lot
*.out
*.lof
chapter*.pdf
out
libsodium
out_lib
original_sodium
out_qrcode
Kappa.blg
Kappa.out
pythonlogs.txt
*.synctex*
./data/cmps/*
papers
Kappa2only.pdf
test*
images
report.json

chapters
roi*
rois/
*.pyc
index.html
chromedriver
test
*.bbl
annotated.pdf